{
    "presets": [
        "env",
        "stage-2"
    ],
    "plugins": [
        ["transform-runtime", {
            "polyfill": false,
            "regenerator": true
        }]
    ],
    "env": {
        "development": {
            "plugins": [
                ["module-resolver", {
                    "cwd": "babelrc",
                    "root": ["."],
                    "alias": {
                        "utils": "./src/utils",
                        "components": "./src/components",
                        "extensions": "./src/extensions"
                    }
                }]
            ]
        },
        "production": {
            "plugins": [
                ["module-resolver", {
                    "cwd": "babelrc",
                    "root": ["."],
                    "alias": {
                        "utils": "./build/utils",
                        "components": "./build/components",
                        "extensions": "./build/extensions"
                    }
                }]
            ]
        }
    }
}