{
    "extends": [
        "google",
        "plugin:security/recommended"
    ],
    "parser": "babel-eslint",
    "rules": {
        "quotes": "warn",
        "no-invalid-this": "off",
        "security/detect-object-injection": "off",
        "security/detect-non-literal-require": "off",
        "max-len": [
            "error", {
                "ignoreTemplateLiterals": true,
                "ignoreStrings": true,
                "ignoreUrls": true
            }
        ],
        "indent": [1, 4, {
            "SwitchCase": 1
        }],
    },
    "plugins": [
        "security"
    ]
}